 <%# <div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div> %>


<%# <%= link_to "bookings", dungeon_bookings_path(@dungeons), class: "btn-btn-flat" %>
<div class="banner" >
  <div class="container">
    <h1>Welcome to <strong>the Dungeons</strong></h1>
    <%# <p>Come inside</p> %>
    <%# <div id = "emoji">
    <p>🔞 🤫</p> %>
    </div>
  </div>
</div>


<%# <div class="container py-5">
<div class="cards">
  <% @dungeons.each do |dungeon|   %>
    <%# <%= link_to dungeon_path(dungeon), class: "text-decoration-none" do %>
      <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tourismus.nuernberg.de/fileadmin/_processed_/2/7/csm_lochgefaengnis_01_a062cb6860.jpg)">
        <%= dungeon.name %>
      <%# </div>
    <% end %>
  <%# <% end %>
<%# </div>
</div> %>

<body>
    <div class="container">
      <% @dungeons.each do |dungeon| %>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://tourismus.nuernberg.de/fileadmin/_processed_/2/7/csm_lochgefaengnis_01_a062cb6860.jpg">
                    <h3><%= dungeon.name %></h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p class = "price"> £<%= dungeon.price%></p>
                       <p class = "desc"><%= dungeon.description %></p>
                       <p class = "location"><%= dungeon.address %> </p>
                       <%= link_to "Read More" , dungeon_path(dungeon), class: "cardbutton" %>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</body>
