 <%# <div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div> %>

<%# <%= link_to "bookings", dungeon_bookings_path(@dungeons), class: "btn-btn-flat" %>
<html>
<head>
<script>
function show(shown, hidden) {
  document.getElementById(shown).style.display='';
  document.getElementById(hidden).style.display='none';
  return false;
}
</script>
</head>

<div class="dungbanner" >
  <div class="container">
    <h1>Welcome to <strong>the Dungeons</strong></h1>
    <p id = "welcome">Come inside</p>
    </div>
  </div>
</div>

<div id="Page1">
<a href="#" onclick="return show('Page2','Page1');">Show page 2</a>
 <div class="container">
      <% @dungeons.each do |dungeon| %>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <% if dungeon.photo.attached? %>
                    <%= cl_image_tag dungeon.photo.key%>
                    <% end %>
                    <h3 id="cardtitle"><%= dungeon.name %></h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p class = "price"> £<%= dungeon.price%></p>
                       <p class = "desc"><%= dungeon.description %></p>
                       <p class = "location"><%= dungeon.address %> </p>
                       <p> <% dungeon.dragon %> </p>
                       <%= link_to "Read More" , dungeon_path(dungeon), class: "cardbutton" %>
                </div>
            </div>
        </div>
      <% end %>
    </div>

  </div>

  <div id="Page2" style="display:none;">
   <a href="#" onclick="return show('Page1','Page2');">Show page 1</a>
<div style="height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

</body>
</html>
